<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<%- partial('casper/head') %>
<body id="index" class="lightnav animsition">

      <%- partial('casper/header') %>
      <%- body %>
      <%- partial('casper/footer') %>
      <%- partial('casper/after_all') %>

</body>
</html>
